In [20]:
import pandas as pd

In [ ]:
#from google.colab import drive
#drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/PROYECTO_ML/01database2.csv',sep=';')

In [21]:
df=pd.read_csv('https://raw.githubusercontent.com/isaavedrab85/PROYECTO/refs/heads/main/01database.csv',sep=';')

In [22]:
df.head() # visualización primeras columnas
print(df)
df.shape # tamaño del dataset (filas, columnas)
df.info() # información del dataset
df.describe() # estadísticas del dataset

      ID SEXO  TIPO_COLEGIO  Puntaje Nem  Puntaje Ranking  Puntaje Lenguaje  \
0      1    M             2          851              866               597
1      2    M             3          402              402               738
2      3    M             3          491              491               729
3      4    M             2          558              560               759
4      5    M             2          529              538               591
..   ...  ...           ...          ...              ...               ...
609  610    M             2          856              886               802
610  611    M             3          572              572               699
611  612    M             2          736              756               815
612  613    M             2          671              671               799
613  614    M             1          851              872               788

     PAES_M1  PAES_M2  Puntaje Historia  Puntaje Ciencias Puntaje Prom  \
0        513      464                 0               433       555,00
1        593      406               613                 0       665,50
2        480      428               423               443       604,50
3        761      504                 0               585       760,00
4        575      312               556                 0       583,00
..       ...      ...               ...               ...          ...
609      827      582                 0               589       814,50
610      963      603                 0               606       831,00
611      797      507                 0               656       806,00
612      879      582               654                 0       839,00
613      671      428                 0               506       729,50

    Puntaje Pond. DIAG_MAT AYG_240 AYG_24-2 C1_240 C1_24-2 AL_24-2 C2_24-2
0          650,65     0,07    1,00     0,00   2,08    0,00    0,00    0,00
1          523,75     0,14    1,00     0,00   1,01    0,00    0,00    0,00
2          503,00     0,10    1,03     1,00   1,58    2,20    0,00    0,00
3          649,75     0,19    1,05     1,10   3,10    2,30    0,00    0,00
4          545,85     0,02    1,05     0,00   1,00    0,00    0,00    0,00
..            ...      ...     ...      ...    ...     ...     ...     ...
609        809,05     0,52    6,97     0,00   4,90    0,00    6,09    6,69
610        726,50     0,67    6,98     0,00   6,48    0,00    6,37    6,04
611        751,80     0,57    6,99     0,00   6,82    0,00    0,00    0,00
612        750,45     0,64    7,00     0,00   4,53    0,00    2,80    3,70
613        732,35     0,52    7,00     0,00   6,71    0,00    6,16    6,90

[614 rows x 19 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                614 non-null    int64
 1   SEXO              614 non-null    object
 2   TIPO_COLEGIO      614 non-null    int64
 3   Puntaje Nem       614 non-null    int64
 4   Puntaje Ranking   614 non-null    int64
 5   Puntaje Lenguaje  614 non-null    int64
 6   PAES_M1           614 non-null    int64
 7   PAES_M2           614 non-null    int64
 8   Puntaje Historia  614 non-null    int64
 9   Puntaje Ciencias  614 non-null    int64
 10  Puntaje Prom      614 non-null    object
 11  Puntaje Pond.     614 non-null    object
 12  DIAG_MAT          614 non-null    object
 13  AYG_240           614 non-null    object
 14  AYG_24-2          614 non-null    object
 15  C1_240            614 non-null    object
 16  C1_24-2           614 non-null    object
 17  AL_24-2           614 non-null    object
 18  C2_24-2           614 non-null    object
dtypes: int64(9), object(10)
memory usage: 91.3+ KB

,ID,TIPO_COLEGIO,Puntaje Nem,Puntaje Ranking,Puntaje Lenguaje,PAES_M1,PAES_M2,Puntaje Historia,Puntaje Ciencias
count,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000
mean,307.500000,2.091205,749.785016,774.653094,674.557003,725.907166,442.899023,229.252443,482.402280
std,177.390811,0.572469,111.261736,128.101835,90.916069,104.881645,80.119626,268.394823,164.444111
min,1.000000,0.000000,356.000000,364.000000,375.000000,452.000000,246.000000,0.000000,0.000000
25%,154.250000,2.000000,680.000000,685.000000,600.000000,657.000000,393.000000,0.000000,462.000000
50%,307.500000,2.000000,757.000000,782.500000,679.000000,717.000000,435.500000,0.000000,511.000000
75%,460.750000,2.000000,837.000000,872.750000,738.000000,797.000000,487.000000,498.000000,579.750000
max,614.000000,4.000000,1000.000000,1000.000000,935.000000,990.000000,718.000000,893.000000,816.000000

#Detalles 01DATABASE

Las colulmnas de mi archivo "01database.csv" de base de datos contienen los ID y puntajes variados de pruebas de admisión PAES, diagnóstico y cursos de matemáticas del primer año.

El detalle de cada columna es el siguiente:

### Columna 1: ID de cada estudiante.
### Columna 2: Sexo
*   M = Masculino
*   F = Femenino

### Columna 3: Tipo de Colegio
*   1 = Particular
*   2 = Subencionado
*   3 = Municipal
*   4 = Bicentenerio

### Columna 4: Puntaje Notas Enseñanza Media $(NEM)$.

Este es el puntaje que se asigna al promedio de notas obtenido en los 4 años de enseñanza media.

### Columna 5: Puntaje Ranking $(P_{RK})$.

Este es el puntaje que se asigna a cada estudiante de acuerdo a la posición relativa de sus notas, en la enseñanza media, en comparación con las notas de tres generaciones de alumnos de su mismo colegio.

### Columna 6: Puntaje Comprensión Lectora $(P_{CL})$.

Es el puntaje obtenido por el estudiante en la PAES de Comprensión Lectora.
### Columna 7: Puntaje Matemáticas 1 $(P_{M_{1}})$.

Es el puntaje obtenido por el estudiante en la PAES de Matemáticas 1.

### Columna 8: Puntaje Matemáticas 2 $(P_{M_{2}})$.

Es el puntaje obtenido por el estudiante en la PAES de Matemáticas 2.

### Columna 9: Puntaje Historia $(P_{H})$.

Es el puntaje obtenido por el estudiante en la PAES de Historia.

### Columna 10: Puntaje Ciencias $(P_{C})$.

Es el puntaje obtenido por el estudiante en la PAES de Ciencias.

### Columna 11: Puntaje Promedio $(P_M)$: $$P_M = \dfrac{P_{M_1} + P_{CL}}{2}.$$

Es el promedio de las pruebas de Matemáticas 1 y Comprensión Lectora.

### Columna 12: Puntaje Ponderado PAES para carrera Ingenieria
$$P_P = \text{NEM} \times 0,1 + P_{Rk}\times 0,3 + P_{CL}\times 0,1+ P_{M_1}\times 0,35 + P_{M_2}\times 0,05 + (P_H\quad o \quad P_C)\times 0,1.$$

Este puntaje depende de cada la ponderación que se da a cada variable y que permite ordenar a los postulantes para su posterior matrícula.


### Columna 13: Puntaje (%) Diagnóstico $(P_{Diag})$.

Es el porcentaje de logro obtenido en la prueba de Diagnóstico de Matemáticas que se realiza a los estudiantes nuevos.


### Columna 14: Puntaje Álgebra y Geometría 2024-1 $(P_{A\& G})$.

Es la nota obtenida en el curso de Álgebra y Geometría.
### Columna 15: Puntaje Álgebra y Geometría 2024-2 (repetición) $(\widetilde{P_{AL}})$.

Es la nota obtenida en el curso de Álgebra y Geometría de repetición. Este curso es rendido por estudiantes que reprobaron en el primer semestre.

### Columna 16: Puntaje Cálculo I 2024-1 $(P_{CI})$.

Es la nota obtenida en el curso de Cálculo I.

### Columna 17: Puntaje Cálculo I 2024-2 (repetición) $(\widetilde{P_{CI}})$.

Es la nota obtenida en el curso de Cálculo I de repetición. Este curso es rendido por estudiantes que reprobaron en el primer semestre.


### Columna 18: Puntaje Álgebra Lineal 2024-2 $(P_{AL})$.

Es la nota obtenida en el curso de Álgebra Lineal. Este curso se puede rendir sólo si se aprueba el curso de Álgebra y Geometría el primer semestre.

### Columna 19: Puntaje Cálculo II 2024-2 $(P_{AL})$.

Es la nota obtenida en el curso de Cálculo II. Este curso se puede rendir sólo si se aprueba el curso de Cálculo I el primer semestre.